* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  display: flex;
}

.content {
  width: 100%;
  overflow-y: scroll;
}

aside {
  width: 30%;
  background-color: red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3rem 0 0 2rem;
  gap: 3rem;
  position: sticky;
  top: 0;
  bottom: 0;
}

.link {
  color: white;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.topCard,
.middleCard,
.bottomCard {
  height: 100px;
  background-color: yellow;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}

.middleCard {
  background-color: green;
  display: flex;
}
.card {
  flex: 1;
  display: flex;
  justify-content: center;
}
.card-1 {
  background-color: aqua;
}
.divider {
  height: 100%;
  width: 2px;
  background-color: white;
}

.bottomCard {
  background-color: rgb(255, 165, 47);
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  aside {
    width: 100%;
    height: 50px;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .topCard,
  .bottomCard {
    height: 200px;
  }
  .middleCard {
    height: 400px;
  }
  .card {
    height: 200px;
  }

  .middleCard {
    flex-direction: column;
  }

  .divider {
    display: none;
  }
}
